<div class="page-in-construction">
  <div style="height: 100%; background-color: #cbcdea85;">
    <div class="container-card">
      <mat-card class="col-md-8 col-sm-8 card-custom">
        <mat-card-header>
          <div mat-card-avatar mat-card-sm-image class="header-image-custom"></div>
          <mat-card-title style="margin-bottom: 8px;">Vicente de Paula Silva da Penha</mat-card-title>
          <mat-card-subtitle>Web Developer | TypeScript | Angular | Java | Spring</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="margin-top: 10px;">
          <p style="text-align: justify; text-indent: 15px;">
            Formado em Análise e Desenvolvimento de Sistemas pela FATESG.
            Moro em Goiânia desde 2011, morei por muitos anos no Maranhão mas sou natural de Medicilândia-PA.
            Praticamente de uma boa leitura (aceito dicas de livros lol).
          </p>
          <div class="row">

          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="container-card">
      <mat-card class="col-md-8 col-sm-8 card-custom">
        <mat-card-content style="margin-top: 10px;">
          <mat-chip-list aria-label="Fish selection">
            <mat-chip>One fish</mat-chip>
            <mat-chip>Two fish</mat-chip>
            <mat-chip color="primary" selected>Primary fish</mat-chip>
            <mat-chip color="accent" selected>Accent fish</mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
